body {
     background-color: hsl(180, 33%, 98%);
    
}
.biome {
    display: flex;
    flex-direction: column;
    background-color: hsl(180, 33%, 98%);
    width: 100%;
    height: 100%;
}
/*Main app*/
.app-wrapper {
    display: flex;
    flex-direction: row;
}
/*The selection section*/
.type-selection {
    flex-direction: column;
}

.selected-product {
    width: 100%;
    
}

/*Nav bar*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: hsl(213, 9%, 23%); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(hsl(213, 9%, 23%), hsla(216, 4%, 56%, .5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(hsl(213, 9%, 23%), hsla(216, 4%, 56%, .5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(hsl(213, 9%, 23%), hsla(216, 4%, 56%, .5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(hsl(213, 9%, 23%), hsla(216, 4%, 56%, .5)); /* Standard syntax */
    max-height: 7em;
}

.nav-logo {
    margin-top: 1vh;
    height: 54%;
    width:20vh;
}

.nav-letters {
    height:22vh;
    margin-top: -4vh;
}

.Modal-popper, .email-link {
      color: hsl(0, 0%, 92%);
      margin-top: 5vh;
  }

/*Display and type scroll--------------*/

.product-display{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}

  /*products by type*/

  .type-result{
      display: flex;
      flex-direction: row;
      max-width: 1100px;
      overflow-x: scroll;

  }

  .show-case {
      height: 30rem;
      width: 80%;
  }
  /*images*/

  img {
      max-height: 40vh;
      max-width: 35vh;

  }

  .type-image {
      /*object-position: center;*/
      height: 40vh;
  }

  /*Modal styles*/

.Modal {
    position: absolute;
    background-color: hsl(0, 0%, 96%); 
    margin-top: 5%;
    margin-left: 2%;
    height:80%; 
    width:95%;
    max-height: 80%;
    overflow: scroll;
}
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(240, 4%, 39%, .8);
  }


  /*All anchor tags*/
  a {
     text-decoration: none !important;
     color: hsl(0, 0%, 92%);
  }

/*Main product display*/
.main-logo {
    height: 200rem;
    width: 550rem !important;;
    margin-left: 50vh;
}
/**/